<div class="dashboard-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Kundenverwaltung</mat-card-title>
      <mat-card-subtitle>Wird verwaltet von: {{ authService.currentUser()?.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="actions-bar">
        <button mat-raised-button color="primary" (click)="createCustomer()">
          <mat-icon>add</mat-icon>
          Neuer Kunde
        </button>
        <button mat-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          Zurück
        </button>
      </div>
      
        <h2>Kundenliste</h2>
        <mat-table [dataSource]="dataSource">
    
            <!-- Kundennummer Spalte -->
            <ng-container matColumnDef="customerNumber">
            <mat-header-cell *matHeaderCellDef> Kundennummer </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{ customer.customerNumber }} </mat-cell>
            </ng-container>
    
            <!-- Vorname Spalte -->
            <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{ customer.firstName }} </mat-cell>
            </ng-container>
    
            <!-- Nachname Spalte -->
            <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{ customer.lastName }} </mat-cell>
            </ng-container>
    
            <!-- Email Spalte -->
            <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{ customer.email }} </mat-cell>
            </ng-container>

            <!-- Stadt Spalte -->
            <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef> Stadt </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{ customer.city }} </mat-cell>
            </ng-container>
    
            <!-- Actions Spalte -->
            <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Aktionen </mat-header-cell>
            <mat-cell *matCellDef="let customer">
                <button mat-button color="primary" (click)="editCustomer(customer)">Bearbeiten</button>
                <button mat-button color="warn" (click)="deleteCustomer(customer)">Löschen</button>
            </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </mat-card-actions> -->
    </mat-card>
</div>  
